*{
    font-family: 'Poppins', sans-serif;
    background-color: red;
}

hr{
    border-style: outset;
    border-width: 5px;
    color: black;
}

.cardla{
    width: 300px;
    height: 350px;
    border-radius: 15%;
    float: left;
    background-color: blanchedalmond;
    margin: 50px 50px 0px 35px;
    padding: auto;
}


.cardmal{
    width: 300px;
    height:350px;
    border-radius: 15%;
    float:left;
    background-color: blanchedalmond;
    margin: 50px 50px 0px 35px;
    padding: auto;
}

.cardmt{
    width: 300px;
    height: 375px;
    border-radius: 15%;
    background-color: blanchedalmond;
    float:left;
    margin: 50px 50px 0px 35px;
    padding:auto;
}

.LA{
  max-width: 80%;
  margin: 10px 0px 0px 30px;
  border-radius: 50%;
}

.MTM{
    margin: 10px 0px 0px 30px;
    max-width: 80%;
    border-radius: 50%;
}

.ELMQ{
    max-width: 80%;
    margin: 10px 0px 0px 30px;
    border-radius: 50%;
}

